{% extends 'base.html' %}
{% block content %}
<!-- login -->
    <section class="login">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="login-title text-center mt-5">
              <h2>Forgot Password</h2>
              <!-- <div class="login-nav"> -->
              <!-- breadcrumb -->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Forgot Password
                  </li>
                </ol>
              </nav>
              <!-- breadcrumb -->
              <!-- </div> -->
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="login-form text-center mt-5">
              <h3 style="font-weight: 900">Reset Password!</h3>
              <p class="mt-4" style="font-size: 18px">
                We have mailed you instruction for resetting your password
              </p>
              <p class="mb-5" style="font-size: 18px">
                if you have didn't receive it verified you entered the correct
                email and / or check your spam folder
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- login -->
{% endblock %}
