{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- info -->
    <section class="info mt-5 mb-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 info-logo-border">
            <div class="info-logo">
              <img class="img-fluid" src="{% static 'assets/images/logo.png' %}" alt="" />
            </div>
            <h3>A Nonprofit University</h3>
          </div>
          <div class="col-md-6">
            <div class="info-founder">
              <img
                src="{% static 'assets/images/Alimullah-Miyan-Sir-150x150.png' %}"
                alt=""
                class="img-fluid"
              />
              <h3>Founder Prof Dr M Alimullah Miyan</h3>
            </div>
          </div>
        </div>
        <hr />
        <div class="row mt-5">
          <div class="col-md-4 info-logo-border">
            <div class="info-numbers">
              <div class="number">
                <h4 class="counter">1989</h4>
                <p>INITIATED</p>
              </div>
            </div>
            <div class="info-numbers">
              <div class="number">
                <h4 class="counter">1991</h4>
                <p>ESTABLISHED</p>
              </div>
            </div>
            <div class="info-numbers">
              <div class="number">
                <h4 class="counter">1993</h4>
                <p>REGISTERED</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 info-logo-border">
            <div class="info-numbers">
              <div class="number">
                <h4 class="counter">261</h4>
                <p>TEACHERS</p>
              </div>
            </div>
            <div class="info-numbers">
              <div class="number">
                <h4 class="counter">5500</h4>
                <p>STUDENTS</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info-numbers">
              <div class="number">
                <h4 class="counter">1326</h4>
                <p>FACULTY PUBLICATIONS</p>
              </div>
            </div>
            <div class="info-numbers">
              <div class="number">
                <h4 class="counter">91</h4>
                <p>COLLABORATIONS & MEMBERS</p>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="row mt-5">
          <div class="col-md-8 info-logo-border">
            <div class="info-extra">
              <div class="extra">
                <h4>Permanent Campus</h4>
                <p>6.5 Acres of Own Land</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info-extra">
              <div class="extra">
                <h4>25 Buses</h4>
                <p>Free Transportation</p>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="row mt-5">
          <div class="col-md-4 info-logo-border">
            <div class="info-extra">
              <div class="extra">
                <h4>Vision</h4>
                <p>
                  Producing at least one professional graduate from each
                  village/ward of Bangladesh under KBAD
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info-extra info-logo-border">
              <div class="extra">
                <h4>Mission</h4>
                <p>Human Resource Development</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info-extra">
              <div class="extra">
                <h4>Scholarship</h4>
                <p>Scholarships for both new and current students</p>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="leader-title">
            <h2 class="mt-5 mb-5">Leadership</h2>
          </div>
          <div class="col-md-3">
            <div class="leader-des">
              <div class="leader-img">
                <img
                  class="mb-3 img-fluid"
                  src="{% static 'assets/images/abdul-hamid-sir.jpg' %}"
                  alt=""
                />
              </div>
              <h6>Md. Abdul Hamid</h6>
              <p>
                Chancellor <br />Hon’ble President of the People’s Republic of
                Bangladesh
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="leader-des">
              <div class="leader-img">
                <img
                  class="mb-3 img-fluid"
                  src="{% static 'assets/images/Founder-Alimullah-Miyan-Sir-1.jpg' %}"
                  alt=""
                />
              </div>
              <h6>Prof Dr M Alimullah Miyan</h6>
              <p>Founder <br />The 1st Vice-Chancellor of IUBAT</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="leader-des">
              <div class="leader-img">
                <img
                  class="mb-3 img-fluid"
                  src="{% static 'assets/images/Chairman-BOT.jpg ' %}"
                  alt=""
                />
              </div>
              <h6>Zubier Alim</h6>
              <p>Chairman <br />IUBAT Board of Trustees</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="leader-des">
              <div class="leader-img">
                <img
                  class="mb-3 img-fluid"
                  src="{% static 'assets/images/Prof-Abdur-Rab-2.jpg' %}"
                  alt=""
                />
              </div>
              <h6>Prof Dr Abdur Rab</h6>
              <p>Vice-Chancellor <br />IUBAT</p>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-12">
            <div class="leader-title">
              <h2 class="mt-5 mb-5">Location</h2>
            </div>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7296.076072459227!2d90.38847081493574!3d23.88826988452157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1668862237041!5m2!1sen!2sbd"
              width="600"
              height="450"
              style="border: 0; width: 100%"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </section>
    <!-- info -->
{% endblock %}